  .weather-app {
    font-family: 'Roboto', sans-serif;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 20px;
    background-image: url(./imgs/weather-forecast-background.jpg);
    background-size: cover;
  }
  
  .weather-header {
    font-size: 2.5rem;
    color: #333;
    margin-bottom: 20px;
  }
  
  .section1 {
    margin-bottom: 20px;
  }
  
  .input-container {
    width: 60%;
    padding: 10px;
    font-size: 1rem;
    border: 2px solid #007bff;
    border-radius: 5px;
    margin-right: 10px;
  }
  
  .input-button {
    padding: 10px 20px;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .input-button:hover {
    background-color: #0056b3;
  }
  
  .section2 {
    display: flex;
  }
  
  .days-container {
    flex: 1;
    margin-right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: #29d4d4;
  }
  
  .each-day {
    font-size: 1.5rem;
    color: #007bff;
    margin-bottom: 10px;
  }
  
  .details {
    margin-bottom: 10px;
  }
  
  .temp, .max-temp, .min-temp, .wind-speed, .humidity, .sun-rise, .moon-rise {
    font-size: 1rem;
    margin-bottom: 5px;
    color: whitesmoke;
  }
  